body {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.transpiler-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.transpiler-area textarea {
  min-width: 25rem;
  min-height: 10rem;
  max-width: 50rem;
  max-height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}

.transpiler-area button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.transpiler-area button:active {
  scale: 0.95;
}

.transpiler-area pre {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}
